.form{
    display: flex;
    min-width: 570px;
    height: 48px ;
    border-radius: 0px 8px;
}
.searchBox{
    flex: 1;
    border-radius: 8px 0 0 8px;
    padding: 8px;
}
#searchBtn{
    width: 66px;
    height: 48px ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0 8px 8px 0;
    padding: 8px;
}
.search-container{
    position: relative;
}