.carousel-container{
    position: relative;
}
.arrow{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.arrow-prev{
    left: -12px;
}
.arrow-next{
    right: -12px;
}