.navBar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: var(--color-primary);
    padding-left: 20px;
    padding-right: 32px;
    gap: 25px;
}

.navBar img {
    margin: 0;
}
